<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cst2335.finalproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="30" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:debuggable="true"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:parentActivityName="CovidSearchResult"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/Theme.FinalProject"
        tools:ignore="HardcodedDebugMode">
        <activity android:name="com.cst2335.finalproject.CovidDBSave" />
        <activity android:name="com.cst2335.finalproject.CovidDBLoad" />
        <activity android:name="com.cst2335.finalproject.CovidEmptyActivity" />
        <activity
            android:name="com.cst2335.finalproject.CovidSearchResult" />
        <activity android:name="com.cst2335.finalproject.CovidMain" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>